<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PlanitJupiter Automation Suite">
    <test name="Jupiter UI Tests">
        <classes>
            <class name="planittesting.automation.planit_jupiter_tests.ContactPageTests"/>
            <class name="planittesting.automation.planit_jupiter_tests.ShoppingCartTests"/>
        </classes>
    </test>
    <listeners>
    <listener class-name="TestListener.TestListener"/>
</listeners>
</suite>
